p{
    font: 47px Verdana;
    height: 60px;
    margin-bottom: 0px;
}

input{
    background: white;
    border: 4px solid black;
    height: 60px;
    font: 35px Verdana;
}

select{
    background: white;
    border: 4px solid black;
    height: 60px;
    font: 35px Verdana;
}

#content-wrapper{
    width: 1100px;
    display: block;
    margin: auto;
    background: #fbfbfb;
    min-height: 100%;
}

#newProjectFormWrapper{
    box-sizing: border-box;
    width: 100%;
    border: 10px solid black;
    border-top: 5px solid black;
    padding: 10px;
    background: #DDDDDD;
    position: relative;
    margin-bottom: 100px;
}

#sandwichedWrapper{
    position: relative;
    height: 300;
    display: block;
    width: 100%;
}

#leftSideWrapper{
    width: 525px;
    position: absolute;
    display: block;
    left: 0px;
}

#rightSideWrapper{
    width: 525px;
    position: absolute;
    display: block;
    right: 0px;
}

#newProjectFormWrapper #name{
    width: 683px;
    position: relative;
    left: 18px;
}

#newProjectFormWrapper .numbox{
    width: 160px;
    position: absolute;
    right: 0px;
}

#sandwich2{
    width: 100%;
    height: 230px;
    position: relative;
    display: block;
}

#labelSide{
    position: absolute;
    text-align: right;
    width: 350px;
}

#inputSide{
    position: absolute;
    width: 700px;
    right: 0px;
}

#insertOptionsLabel{
    visibility: collapse;
    height: 0;
}

#insertOptionsButtons{
    visibility: collapse;
    height: 0;
    line-height: 1.6;
}

#newProjectFormWrapper #jacketType{
    position: absolute;
    width: 100%;
}

#newProjectFormWrapper #newProjectSubmit{
    width: 80%;
    height: 75px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 45px;
    z-index: 9999;
}

.newProjectLabel{
    position: absolute;
    left: 0px;
    width: 350px;
    text-align: right;
}

.newProjRadio{
    position: absolute;
    top: 0px;
    left: -30px;
    height: 20px;
    width: 20px;
    z-index: 1000;
    opacity: 0;
}

.raydio{
    position: absolute;
    top: 0px;
    left: -60px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid black;
}

.radioLabel{
    position: relative;
    margin-left: 60px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.radioLabel input:checked ~ .raydio {
    background-color: #000;
}

#newProjectTitle{
    font: 55px Verdana;
    text-align: center;
    background: black;
    color: white;
    border-top: 10px solid black;
}



#activeProjects{
    width: 100%;
    border: 5px solid black;
    box-sizing: border-box;
    padding: 5px;
}

#noActiveProjects{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

#activeProjectsTitle{
    width: 100%;
    font: 55px Verdana;
    text-align: center;
    background: black;
    color: white;
    padding-top: 5px;
}

.projectWrapper{
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    position: relative;
    color: white;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.projectName{
    color: white;
    font: 60px verdana;
    height: 30px;
}

.endProjectButton{
    position: absolute;
    top: 5px;
    right: 5px;
}

.stationField{
    width: 45px;
}

.projectCngStationSubmit{
    position: absolute;
    right: 5px; 
}

.projectTotalMade{
}

.projectDate{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#result{
    font: 12px courier;
    margin: 0px;
    height: auto;
    position: fixed;
    background: black;
    color: white;
    left: 0px;
    bottom: 0px;
    z-index: 1000;
}