html{
    min-height:100%;
    position: relative;
}

body{
    width: 100%;
    min-height: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #666;
    overflow-x: inherit;
}

body::-webkit-scrollbar {
    background-color: #666;
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: #555;
}

h1 {
    color: #ff9955;
    font: bold 100px trebuchet ms;
}

h2 {
    color: #ff9955;
    font: bold 40px trebuchet MS;
}

h3 {
    color: #ff9955;
    font: 22px verdana;
}

p {
    color: #eee;
    margin-left:20px;
    font: 15px verdana;
}

br{
    line-height: 1%;
}

a:hover{
    cursor: pointer;
}

a:link{
    color:#ff9955;
    text-decoration: none;
}

a:link:hover{
    color: #eee;
}

a:visited{color:#ff9955;}

a:visited:hover{color:#eee;}


.backdrop{
    width:100%;
    min-height:100%;
    position: static;
    top: 0px;
    background: #444;
}

#menu{
    width: 20%;
    min-width: 300px;
    min-height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #666;
    padding-left: 10px;
    border-left: 5px solid #555;
    display: inline-block;
    overflow-y: scroll;
}

#menu::-webkit-scrollbar{
    background-color: #666;
    width: 10px;
    z-index: 1;
}

#menu::-webkit-scrollbar-thumb{
    background-color: #555;
}

#menu-wrapper{
    height:100%;
    position: absolute;
    display: block;
    background: red;
}

#menu-top-content{
    display: inline-block;
    padding-bottom: 30px;
    max-width: 585px;
    position: absolute;
    top: 0px;
}

#menutop{
    max-height: 150px;
    min-height: 8vh;
    margin-left: 10px;
    margin-top: 20px;
    font: bold 35px trebuchet ms;
    font-style: bold;
    vertical-align: center;
    /* font-size: 1.5vw; */
}

#menucontent{
    margin:10px;
}

.menuHeader{
    margin-top: 20px;
    margin-bottom: 5px;
}

#landingc {
    background-image: url(Willem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
    background-color: #444;
}


/* menu stuff */

#landingm{
    max-width: 100%;
}

#about{
    
}

#aboutc{
    min-width: 530px;
}

#main {
    position: absolute;
    bottom:.1em;
    left:1em;
    text-align: bottom;
    font-size: 5vw;
}

#footer {
    position: fixed;
    bottom: 0px;
    right: 10px;
    font-size: 11px;
    display: block;
    width: inherit;
    min-width: 300px;
    background: #666;
    padding-bottom: 10px;
    margin-bottom: 0px;
    text-align: center;
}

#status {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: black;
}


/* content stuff */

#content{
    min-height: 100%;
    max-width: 100%;
}

#content-top{
    background-image: url(resist.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 150px;
    width: 100%;
    border-bottom: 5px solid #555;
}

#projects-title{
    position: absolute;
    top: 80px;
    left: 20px;
    color: #ff9955;
    font: bold 38px trebuchet MS;
}

#content-story{
    width: 80%;
    display: block;
    margin:auto;
    padding-bottom: 100px;
    line-height: 20px;
}

.content-media{
    display: block;
    max-width:80%;
    min-width: 300px;
    margin: auto;
    border: 7px solid #555;
    background: #555;
    font: 13px verdana;
    color: #eee;
    text-align: center;
    margin-bottom: 34px;
    margin-top: 17px;
}

.content-media img{
    display:block;
    max-width: 100%;
    margin-bottom: 7px;
}

.video-wrapper iframe{
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.video-wrapper{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background: black;
    display: block;
    margin-bottom: 7px;
}