body{
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: red;
}

h1 {
    color: #ff9955;
    font: bold 100px trebuchet ms;
}

h2 {
    color: #ff9955;
    font: bold 40px trebuchet MS;
}

h3 {
    color: #ff9955;
    font: 22px verdana;
}

p {
    color: #eee;
    margin-left:20px;
    font: 15px verdana;
}

br{
    line-height: 1%;
}

a:hover{
    cursor: pointer;
}

a:link{
    color:#ff9955;
    text-decoration: none;
}

a:link:hover{
    color: #eee;
}

a:visited{color:#ff9955;}

a:visited:hover{color:#eee;}


.backdrop{
    width:100%;
    min-height:100%;
    position: static;
    top: 0px;
    background: #444;
}

.menu{
    height: 100%;
    width: 20%;
    min-width: 300px;
    position: fixed;
    top: 0px;
    right: 0px;
    background: #666;
    padding-left: 10px;
    border-left: 5px solid #555;
}

#menutop{
    min-height:80px;
    margin-left: 10px;
    margin-top: 20px;
    font: bold 35px trebuchet ms;
    font-style: bold;
    vertical-align: center;
    /* font-size: 1.5vw; */
}

.menucontent{
    margin:10px;
    margin-top: 30px;
}

.menuHeader{
    margin-top: 20px;
    margin-bottom: 5px;
}

#landingc {
    background-image: url(Willem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
    background-color: #444;
}


/* menu stuff */

#landingm{
    max-width: 100%;
}

#about{
    padding-right:100%;
}

#aboutc{
    min-width: 560px;
}

#main {
    position: absolute;
    bottom:.1em;
    left:1em;
    text-align: bottom;
    font-size: 5vw;
}

#footer {
    position:absolute;
    bottom: 13px;
    left: 0px;
    font-size: 11px;
}


/* content stuff */

#content{
    min-height: 100%;
}

#content-top{
    background-image: url(resist.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 150px;
    width: 100%;
    border-bottom: 5px solid #555;
}

#projects-title{
    position: absolute;
    top: 80px;
    left: 20px;
    color: #ff9955;
    font: bold 38px trebuchet MS;
}

#content-story{
    width: 80%;
    display: block;
    margin:auto;
}

.content-image{
    display: block;
    max-width:80%;
    min-width: 300px;
    margin: auto;
    border: 7px solid #555;
}